openapi: "3.0.3"
info:
  title: "PayMatrix Merchant API"
  description: "PayMatrix 开放平台商户接口"
  version: "1.0.0"

servers:
  - url: https://openapi.paymatrixpay.com/api
    description: 生产环境
  - url: https://api-sbx.paymetrixpay.com/api
    description: 沙盒环境

components:
  schemas:
    CommonResult:
      type: object
      properties:
        code: { type: integer }
        msg: { type: string }
        data: { type: object }

    CreatePaymentRequest:
      type: object
      required: [merchant_transaction_id, amount, currency_code, redirect_url, cancel_url, products, customer]
      properties:
        merchant_transaction_id: { type: string }
        amount: { type: number, minimum: 0.01 }
        currency_code: { type: string }
        description: { type: string }
        redirect_url: { type: string }
        cancel_url: { type: string }
        products:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/Product" }
        shipping: { $ref: "#/components/schemas/Shipping" }
        customer: { $ref: "#/components/schemas/Customer" }

    Product:
      type: object
      required: [product_id, name, price, quantity]
      properties:
        product_id: { type: string }
        name: { type: string }
        description: { type: string }
        price: { type: number }
        quantity: { type: integer, minimum: 1 }
        category: { type: string }
        sku: { type: string }
        url: { type: string }

    Shipping:
      type: object
      properties:
        name: { type: string }
        address: { $ref: "#/components/schemas/Address" }

    Customer:
      type: object
      required: [full_name]
      properties:
        full_name: { type: string }
        address: { $ref: "#/components/schemas/Address" }

    Address:
      type: object
      properties:
        country: { type: string }
        state: { type: string }
        city: { type: string }
        street: { type: string }
        zip: { type: string }

    CreatePaymentResponse:
      allOf:
        - $ref: "#/components/schemas/CommonResult"
        - type: object
          properties:
            data:
              type: object
              properties:
                order_id: { type: string }
                pay_url: { type: string }

    RefundRequest:
      type: object
      required: [refund_time, transaction_id, original_transaction_id, currency_code, amount]
      properties:
        refund_time: { type: string }
        transaction_id: { type: string }
        original_transaction_id: { type: string }
        currency_code: { type: string }
        amount: { type: number, minimum: 0.01 }
        reason: { type: string }
        remark: { type: string }

    RefundResponse:
      allOf:
        - $ref: "#/components/schemas/CommonResult"
        - type: object
          properties:
            data:
              type: object
              properties:
                transaction_id: { type: string }
                order_id: { type: string }
                status: { type: integer }
                error_msg: { type: string }
                error_code: { type: string }

    PaymentQueryResponse:
      allOf:
        - $ref: "#/components/schemas/CommonResult"
        - type: object
          properties:
            data:
              type: object
              properties:
                platform_transaction_id: { type: string }
                merchant_transaction_id: { type: string }
                payment_currency_code: { type: string }
                payment_amount: { type: number }
                payment_status: { type: integer }
                payment_success_time: { type: string, format: date-time }
                settlement_currency_code: { type: string }
                settlement_amount: { type: number }

    RefundQueryResponse:
      allOf:
        - $ref: "#/components/schemas/CommonResult"
        - type: object
          properties:
            data:
              type: object
              properties:
                id: { type: string }
                order_id: { type: string }
                merchant_id: { type: string }
                merchant_refund_id: { type: string }
                original_transaction_id: { type: string }
                refund_amount: { type: number }
                refund_currency: { type: string }
                refund_time: { type: string, format: date-time }
                status: { type: integer }
                reason: { type: string }
                remark: { type: string }

  parameters:
    transactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string

paths:
  /merchant/payment/create:
    post:
      tags: [支付]
      summary: 创建支付订单
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePaymentResponse"

  /merchant/payment/refund:
    post:
      tags: [支付]
      summary: 发起退款
      operationId: createRefund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundResponse"

  "/merchant/order/payment/query/{transactionId}":
    get:
      tags: [订单]
      summary: 查询支付订单
      operationId: queryPayment
      parameters:
        - $ref: "#/components/parameters/transactionId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentQueryResponse"

  "/merchant/order/refund/query/{transactionId}":
    get:
      tags: [订单]
      summary: 查询退款订单
      operationId: queryRefund
      parameters:
        - $ref: "#/components/parameters/transactionId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundQueryResponse"
